@charset "UTF-8";
nav1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgba(25, 160, 244, 0.5);
    height: 8vh;
    width:100%;
    position:fixed;
}

main {
    height: 250px;   
    background-image: url(none);
    background-color: rgba(25, 160, 244, 0.5);
    padding: 10px 0;   
}
/* botao para voltar */

.buttons6 {
    display:flex;
    justify-content: center; 
    flex-direction:column; 
    align-items: center; 
    text-align: left; 
    font-family: Arial, Helvetica, sans-serif;
    max-width: 950px;
}

.buttons6 button {
    height: 32px;
    text-align: center;
    font-size: 1rem;
    background-color: transparent;
    color: rgb(46, 45, 46);
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: Arial;
    font-weight: bold;
    border: none;

}
.titulo1 {
    display: flex;
    justify-content: center; 
    flex-direction:column; 
    align-items: center; 
    text-align: left; 
    font-family: Arial, Helvetica, sans-serif;
}

.titulo1 h1, .titulo1 h2, .titulo1 h3 {
    text-align: left; 
    max-width: 450px; 
    width: 100%; 
}

.titulo1 h1 {
    padding-top: 55px;
    font-size: 1.6rem;
    color: rgb(24, 24, 24);
}

.titulo1 h2 {
    padding-top: 20px;
    font-size: 0.7rem;
    color: rgb(48, 47, 48);
}

.titulo1 h3 {
    padding-top: 40px;
    font-size: 1rem;
    color: rgb(56, 56, 56);
    margin-top: 20px;
}
/* Estilo do calendário */
#calendar {
    max-width: 450px;
    margin: 40px auto;
    border: 1px solid #000000;
    cursor: pointer;
}

#horarios-disponiveis {
    margin-top: 10px;
}

#horarios-disponiveis button {
    display:flexbox;
    margin: 5px 5px;
    padding: 10px;
    font-size: 0.9rem;
    border: 1px solid #007bff;
    border-radius: 4px;
    background-color: #f8f9fa;
    color: #007bff;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#horarios-disponiveis button:hover {
    background-color: #007bff;
    color: #fff;
}

.carrinho {
    justify-content:center; 
    align-items:center; 
    text-align: center; 
    font-family: Arial, Helvetica, sans-serif;
}
.carrinho h4, h5, h6 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.75rem;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    color: rgb(56, 56, 56);
}

/* Estilo do botão */
.buttons5 {
    display: flex;
    justify-content: center; 
    margin-top: 20px;
}

.buttons5 button {
    height: 32px;
    text-align: center;
    padding: 10px 20px;
    font-size: 1.25rem;
    border: 2px solid rgba(78, 77, 78, 1);
    border-radius: 1px;
    background-color:rgb(229, 229, 229);
    color: rgb(46, 45, 46);
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: Arial;
    font-weight: bold;
    box-shadow: 1px #000000;
}

.buttons5 button:hover {
    background-color: rgba(78, 77, 78, 1);
    border: none;
    color: rgb(255, 255, 255); 
}

/* Media query para telas menores (mobile) */

@media screen and (max-width: 768px) {

    .buttons6 button {
        font-size: 0.9rem;
    }

    .titulo1 {
        display: flex;
        justify-content: center; 
        align-items: center; 
    }
    
    .titulo1 h1, .titulo1 h2, .titulo1 h3 {
        text-align: left; 
        max-width: 340px; 
        width: 100%; 
    }
    
    .titulo1 h1 {
        padding-top: 35px;
        font-size: 1.2rem;
    }
    
    .titulo1 h2 {
        padding-top: 10px;
        font-size: 0.7rem;
    }
    
    .titulo1 h3 {
        padding-top: 20px;
        font-size: 1rem;
        color: rgb(24, 24, 24);
        margin-top: 20px;
    }
    /* Estilo do calendário */
    #calendar {
        max-width: 450px;
        margin: 20px auto;
        border: 1px solid #000000;
        cursor: pointer;
    }
    
    #horarios-disponiveis {
        margin-top: 10px;
    }
    
    #horarios-disponiveis button {
        display:flexbox;
        margin: 5px 5px;
        padding: 8px;
        font-size: 0.8rem;
    }
    
    #horarios-disponiveis button:hover {
        background-color: #007bff;
        color: #fff;
    }
    
    .carrinho {
        justify-content:center; 
        align-items:center; 
        text-align: center; 
        font-family: Arial, Helvetica, sans-serif;
    }
    .carrinho h4, h5, h6 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 0.75rem;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        color: rgb(56, 56, 56);
    }
    
    /* Estilo do botão */
    .buttons5 {
        display: flex;
        justify-content: center; 
        margin-top: 20px;
    }
    
    .buttons5 button {
        font-size: 0.9rem;
        margin-bottom: 10px;
    }
    
    .buttons5 button:hover {
        background-color: rgba(78, 77, 78, 1);
        border: none;
        color: rgb(255, 255, 255); 
    }
    
}